<%- include('./partials/navbar') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="myprofile.css">
</head>
<body>
    <header>

        <div class="container">
            <% if(message.length >0){%>
                <div class="alert alert-info" role="alert"><%= message %></div>
            
                <% }%>
            <div class="profile">
    
                <div class="profile-image">
    
                    <img src="<%= user.pic %>" alt="">
    
                </div>
    
                <div class="profile-user-settings">
    
                    <h1 class="profile-user-name"><%=user.name%></h1>
    
                    <button class="btn profile-edit-btn" data-toggle="modal" data-target="#exampleModal">Edit Profile</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                            </div>
                            <div class="modal-body">
                                <form class="login-form" method="post" action="/edit">
                                    
                                        
                                        <div class="form-group">
                                          <label for="formGroupExampleInput2">Profile picture</label>
                                          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="URL here" name="photo">
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Bio</label>
                                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Type here" name="bio">
                                          </div>
                                      
                                        <button type="submit" class="btn-primary">Submit</button>
                                    
                                  </form>
                            </div>
                          </div>
                        </div>
                    </div>

    
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    
                </div>
    
                <div class="profile-stats">
    
                    <ul>
                        <li><span class="profile-stat-count"><%= mypost.length %></span> Posts</li>
                        <li><span class="profile-stat-count"><%= user.followers.length %></span> Followers</li>
                        <li><span class="profile-stat-count"><%= user.following.length %></span> Following</li>
                    </ul>
    
                </div>
    
                <div class="profile-bio">
    
                    <p><div class="profile-real-name"><%= user.name%> </div> <%= user.bio%></p>
    
                </div>
    
            </div>
    
        </div>
        <style>
            .sidenav-profile-photo {
             width: 56px;
             height: 56px;
             position: relative;
           }
     
         </style>
    
    </header>
    
    <main>
        
     
    
        <div class="container">
            
            <div class="gallery">
                <% mypost.forEach(function(p){ %>
                <div class="gallery-item">
                    
    
                    <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><img src="<%= p.photo %>" class="gallery-image" alt=""/></a>
                    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true"  >
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                          <div class="modal-content">
                            
                            <div class="modal-body">
                              <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                      <img src="https://images.unsplash.com/photo-1625238967688-736bb7428375?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" style=" width: 100%;height: 475px"/>
                                    </div>
                                    <div class="col-md-6">
                                   
                                      <div class="d-flex flex-row align-items-center border-bottom pb-2">
                                        <div
                                            class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sidenav-profile-photo">
                                            <img src="https://images.unsplash.com/photo-1517677129300-07b130802f46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGdpcmx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""
                                                style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                                        </div>
                                        <div class="profile-info">
                                            <a href="/mypost" style="color:#212529; margin-left: 17px; text-decoration: none;"><span class="profile-info-username">akhila.priya_</span></a>
                              
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" viewBox="0 0 16 16" style="margin-left:150px" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuLink">
                                          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <li><a class="dropdown-item" href="#">Edit Post</a></li>
                                          <li><a class="dropdown-item" href="#">Delete Post</a></li>
                                          
                                        </ul>
                                      </div>
                                   
                                  </div>     
                    
                              </div>
                            </div>
                            <div class="modal-footer" style="margin-top: 20px;">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>
    








                    <div class="gallery-item-info">
    
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i><%=p.likes.length %></li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> <%=p.comments.length %></li>
                        </ul>
    
                    </div>
    
                </div>
                <% }); %>
            </div>
           
            </div>
            

    
            </div>
            
    
    </main> 

    <script type="text/javascript">
    $('#pop').click(function(){
        $("#staticBackdrop").modal('show')
        
    })
    </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>
</html>