<%- include('./partials/navbar') %>

<div class="mt-5 p-5 bg-light ">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <div class="row-1">
                <div class="col-9">
                    <% if(message.length >0){%>
                        <div class="alert alert-info" role="alert"><%= message %></div>
                    
                        <% }%>
                    <% posts.forEach(function(p){ %>

                    <!-- START OF POSTS -->
                    <div class="d-flex flex-column mt-10 mb-4">

                        <div class="card">
                            <div class="card-header p-3">
                                <div class="d-flex flex-row align-items-center">
                                    <div
                                        class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-3 border-danger  post-profile-photo mr-3">
                                        <img src="https://images.unsplash.com/photo-1517677129300-07b130802f46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGdpcmx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""
                                            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                                    </div>
                                    <a href="/<%= p.postedBy._id %>" class="name"><span class="font-weight-bold"><%= p.postedBy.name %></span></a>     
                                </div>

                            </div>
                            <div class="card-body p-0">
                                <div class="embed-responsive embed-responsive-1by1">
                                    <img class="embed-responsive-item" src="<%= p.photo %>" width="100%" height="100%"/>
                                </div>

                                <div class="d-flex flex-row justify-content-between pl-3 pr-3 pt-3 pb-1">
                                    <ul class="list-inline d-flex flex-row align-items-center m-0">
                                        <li class="list-inline-item">
                                            
                                            <form onsubmit="likes(this)" method="post" action="/like">
                                                
                                                <input type="hidden" name="id" value="<%= p._id%>">
                                                <button class="btn p-0" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6 em" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                      </svg>
                                                </button>
                                            </form>
                                            
                                        </li>
                                        <li class="list-inline-item ml-2">
                                            <button class="btn p-0">
                                                <svg width="1.6em" height="1.6em" viewBox="0 0 16 16"
                                                    class="bi bi-chat" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                                                </svg>
                                            </button>
                                        </li>
                                        <li class="list-inline-item ml-2">
                                            <button class="btn p-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" fill="currentColor" class="bi bi-cursor" viewBox="0 0 16 16">
                                                    <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
                                                  </svg>
                                            </button>
                                        </li>
                                    </ul>
                                    <div>
                                        <button class="btn p-0">
                                            
                                        </button>
                                    </div>
                                </div>

                                <div class="pl-3 pr-3 pb-2">
                                    <strong class="d-block"><%= p.likes.length %> likes</strong>
                                    <strong class="d-block"><%= p.postedBy.name %></strong>
                                    <p class="d-block mb-1"><%= p.body %></p>
                                    <% p.comments.forEach(function(record) {%>
                                       

                                        <p class="d-block mb-1"><strong class="d-inline"><%= record.postedBy.name %></strong>    <%= record.text %></p>
                                        
                                    <% }); %>
                                    <p class="fs-6 fw-light text-muted"><%= moment(p.createdAt).fromNow() %></p>
                                    
                                </div>
                               
                    

                                <div class="position-relative comment-box">
                                    <form onsubmit="comments(this)" method="post" action="/comment">
                                        <input class="w-100 border-0 p-3 input-post" placeholder="Add a comment..." name="text">
                                        <input type="hidden" name="idd" value="<%= p._id%>">
                                       <button class="btn btn-primary position-absolute btn-ig" type="submit">Post</button>
                                    </form>
                                </div>


                            </div>
                        </div>

                    </div>
                    <!-- END OF POSTS -->
                    <% }); %>
                </div>
               

                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>

<footer>
<script>

    function likes(form) {
    $.ajax({
        url: '/like',
        dataType: 'json',
        type: 'POST',
        contentType: 'application/json',
        data:JSON.stringify({postId:form.id.value}),
        success: function (result) {
           console.log(result)
        }
    });
    }





    function comments(form) {
       
    $.ajax({
        url: '/comment',
        dataType: 'json',
        type: 'POST',
        contentType: 'application/json',
        data:{"text":form.text.value,"idd":form.idd.value},
        success: function (result) {
           console.log(result);
        }
    });
}
    
   
    
  

function deletee(form) {
    $.ajax({
        url: '/deletepost',
        dataType: 'json',
        type: 'POST',
        contentType: 'application/json',
        data:{postId:form.postId.value},
        success: function (result) {
           console.log(result)
        }
    });
   
    }



</script>
<!-- JS, Popper.js, and jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</footer>

</html>
